<app-header/>

<app-loading [isLoading]="isLoading"></app-loading>

<div *ngIf="!isLoading" class="teams-container">
    <div class="header-teams">
        <p class="event body-m-bold">{{ events?.event?.name }}</p>
        <button (click)="toggleModal('open', true)"
                class="assessment-button button-l-medium accent-button-l-primary-default">
            Начать оценивание
        </button>
    </div>

    <div *ngFor="let direction of events?.event?.directions" class="group-teams">
        <p class="group-title headline-5">{{ direction.name }}</p>

        <div *ngFor="let project of direction.projects; let isLast = last"
             [ngClass]="{ 'subgroup-last': isLast }"
             class="subgroup-teams">
            <p class="subgroup-title body-m-regular">{{ project.name }}</p>

            <div class="card-list">
                <div (click)="navigateToTeam(team.id)"
                     *ngFor="let team of project.teams; let i = index; let isLast = last" class="card">
                    <div class="card-titles">
                        <p class="card-title body-l-bold">{{ team.name }}</p>

                        <div *ngIf="pendingAssessments[team.name!]" class="badge badge-teams">
                            <img alt="alert" height="12" src="assets/alert-circle.svg" width="12">
                            <p class="button-s-medium">Требует оценки</p>
                        </div>
                    </div>

                    <div class="card-students">
                        <ng-container *ngFor="let member of team.members; let i = index">
                            <p class="card-student body-m-regular">{{ member.fullName }}</p>
                            <span *ngIf="i < team.members!.length - 1" class="dot-separator body-m-regular">·</span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-new-assessment
    (close)="toggleModal('open', false)"
    [isVisible]="modalStates.open"
    [title]="'Создание нового оценивания'">
</app-new-assessment>
