@use './variables' as *;

.accent-button-l-primary-default {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 10px 20px;

    border-radius: 8px;
    border: 0;
    background: $button-accent-primary-bg-default;

    color: $text-white;

    cursor: pointer;
}

.accent-button-l-primary-default:hover {
    background: $button-accent-primary-bg-hover;
}

.accent-button-l-primary-default:disabled {
    background: $button-disabled-bg-default;
    color: $button-disabled-text-icon;
}

.accent-button-m-primary-default {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 0;
    background: #FC7630;
    color: #FFF;
    cursor: pointer;
}

.accent-button-m-primary-default:hover {
    background: #FF8227;
}

.accent-button-m-primary-default:disabled {
    background: #F4F4F4;
    color: #C2C2C2;
}

.accent-button-s-primary-default {
    display: inline-flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    color: $text-white;

    border-radius: 8px;
    border: none;
    background: $button-accent-primary-bg-default;

    cursor: pointer;
}

.accent-button-s-primary-default:hover {
    background: $button-accent-primary-bg-hover;
}

.neutral-button-m-outline-default {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: $text-black;

    border-radius: 8px;
    border: 1.2px solid $button-neutral-stroke;
    background: $bg-white;

    cursor: pointer;
}

.neutral-button-m-outline-default:hover {
    background: $button-neutral-bg-hover;
}

.neutral-button-l-outline-default {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: $text-black;

    border-radius: 8px;
    border: 1.2px solid $button-neutral-stroke;
    background: $bg-white;

    cursor: pointer;
}

.neutral-button-l-outline-default:hover {
    background: $button-neutral-bg-hover;
}

.neutral-button-s-no-outline-default {
    display: inline-flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: 8px;
    border: none;
    background: transparent;

    cursor: pointer;
}

.neutral-button-s-no-outline-default:hover {
    background: $button-neutral-bg-hover;
}

.delete-button {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: $text-white;

    border-radius: 8px;
    border: none;
    background: $input-stroke-text-error;

    cursor: pointer;
}

.delete-button:hover {
    background: #CC2626;
}

.neutral-button-minor-form {
    display: flex;
    height: 48px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;

    color: $text-black;

    border-radius: 8px;
    border: none;
    background: $button-neutral-bg-hover;

    cursor: pointer;
}

.neutral-button-minor-form:hover {
    background: #EBEBEB;
}

.neutral-button-minor-form.active {
    background: $main-orange-primary;
}

.radiobutton-form-off {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    aspect-ratio: 1/1;

    background: $bg-white;
    border-radius: 50%;
    border: 1px solid $button-neutral-stroke;

    cursor: pointer;

    &:hover {
        border-color: $button-accent-outline-stroke-default;
    }

    &.selected {
        border-color: $button-accent-outline-stroke-default;
    }
}

.radiobutton-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $button-accent-outline-stroke-default;
}
